body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e3f2fd;
    margin: 0;
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
    background: #293447;
    border-radius: 5px;
    box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}

.game-details {
    color: #b8c6dc;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board {
    height: 100%;
    width: 100%;
    display: grid;
    background: #212837;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
    background: #ff003d;
}

.play-board .head {
    background: #60cbff;
}

.controls {
    display: none;
    justify-content: space-between;
}

.controls i {
    padding: 25px 0;
    text-align: center;
    font-size: 1.3rem;
    color: #b8c6dc;
    width: calc(100% / 4);
    cursor: pointer;
    border-right: 1px solid #171b26;
}

@media screen and (max-width: 800px) {
    .wrapper {
        width: 90vmin;
        height: auto; /* Imposta l'altezza su automatico per adattarsi al contenuto */
    }

    .game-details {
        font-size: 1rem;
        padding: 15px 27px;
    }

    .controls {
        display: flex;
        flex-wrap: wrap; /* Consente ai controlli di avvolgersi su schermi pi첫 piccoli */
    }

    .controls i {
        padding: 15px 0;
        font-size: 1rem;
        width: 50%; /* Imposta la larghezza al 50% per adattarsi su schermi pi첫 piccoli */
        border-bottom: 1px solid #171b26; /* Aggiunge una linea inferiore tra i controlli */
    }
}

.move-right {
    margin-left: 100px;
    margin-top: 20px; 
}

#menu-principale,
#reset-high-score,
#regole2 {
    margin: 20px 0;
    z-index: 1; /* Imposta un valore pi첫 alto per il livello z dei bottoni */
}


button {
    background: lightyellow;
    border-radius: 10px;
    border: 2px solid blue;
    outline: none;
    padding: 6px;
    font-weight: bold;
    color: black;
}

button:focus {
    background: silver;
}

#menu-principale,
#reset-high-score,
#regole2 {
    margin: 20px 0; /* Aggiungi spaziatura generale su schermi pi첫 piccoli */
}
